$water: #B1F3DC;
$dark: #152943;
$secondRow: 35%;

$ho: rgb(51, 165, 148);
$iw: rgb(30, 162, 226);
$je: rgb(25, 126, 191);
$sc: rgb(219, 76, 96);
$es: rgb(127, 173, 62);
$eq: rgb(33, 165, 84);
$cg: rgb(222, 170, 0);
$hs: rgb(126, 56, 116);
$sw: rgb(229, 99, 47);
$ps: rgb(96, 96, 96);
$wl: rgb(153, 40, 37);

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: $water;
}

#map {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%; 
	background: $water !important;
}

svg {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: opacity .4s;
	
	.outer, .inner{
		transition: opacity .4s;
		opacity: 0;
	}


	.outer .donut{
		fill-opacity: 0;
		stroke-width: 0;
		pointer-events: all;
	}

	.donut {
		stroke: #fff;
		stroke-width: 1;
		transition: fill-opacity .4s;
	}

	.poly {
		opacity: 0;
		transition: opacity .4s;	
	}

	.poly path{
		fill: transparent;
		stroke-width: .5px;
		transition: opacity .4s, stroke-width .4s;
		opacity: .7;
	}

	.poly circle{
		fill: transparent;
		// stroke-width: .5px;
		transition: opacity .4s;
		opacity: .5;
		stroke: $dark;
	}

	.circles {
		transition: opacity .2s;

		opacity: 0;
		circle{
			transition: cx .8s, cy .8s;
		}
	}

}


.headerItem{
	position: absolute;
	top: 20px;
	cursor: pointer;

	&#title{
		left: 40px;
	}

	&#select{
		left: $secondRow;

		.select::after{
			content: "";
			width: 18px;
			height: 30px;
			background: url("../svg/select.svg") no-repeat center;
			position: absolute;

		}
	}
}

.line{
	margin-top: 3px;
	margin-left: -10px;
	width: 50px;
	height: 2px;
	background: $dark;
}

.text{
	color: $dark;
	font-family: "neuzeit-grotesk", sans-serif;
	font-size: 14px;
	font-weight: 400;
	transition: opacity .4s;

	&.typekit {
		opacity: 0;
	}

	&.caption{
		font-weight: 700;
		font-size: 24px;
	}
}

#overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 5000;

	&.active{
		display: block;
	}
}

#countries {
	position: absolute;
	left: $secondRow;
	top: 51px;
	bottom: 0px;
	overflow-y: auto;
	padding-top: 9px;
	padding-bottom: 10px;
	margin-left: -10px;
	padding-left: 10px;
	z-index: 6000;

	div{
		cursor: pointer;
		z-index: 3001;

		&.selected::before, &:hover::before{
			content: "";
			width: 6px;
			background: #152943;
			height: 1px;
			margin-left: -10px;
			position: absolute;
			margin-top: 8px;

		}
	}
}

#labels{
	position: absolute;
	top: 51px;
	right: 40px;
	border-top: 2px solid $dark;
	padding-bottom: 20px;
	bottom: 0px;
	transition: opacity .4s;
	overflow: auto;

	.label{
		
		cursor: default;
		transition: opacity .4s, height .2s;
		opacity: 0;
		transform-origin: center center;
		width: 140px;
		height: 14px;
		margin-top: -1px;
		overflow: hidden;

		border-bottom: 1px solid #152943;
		border-top: 1px solid #152943;
		padding: 5px;

		&:hover{
			height: 50px;
		}

		&.center{
			position: fixed;
			height: 50px;
		}
	}
}

#bliLabel{
	position: absolute;
	background-color: $dark;
	z-index: 10000;
	padding: 0px 5px;
}

#intro{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 20000;

	.intro{
		position: absolute;
		top: 58px;
		left: 40px;
		width: 310px;

		display: none;

		a{
			color: $dark;
		}
	
		span{
			cursor: pointer;
		}

		.line{
			margin: 4px 0px 4px -10px;
    		width: 30px;
   			height: 1px;
		}
	}
}

.topic {
	&.ho { background-color: $ho}
	&.iw { background-color: $iw}
	&.je { background-color: $je}
	&.sc { background-color: $sc}
	&.es { background-color: $es}
	&.eq { background-color: $eq}
	&.cg { background-color: $cg}
	&.hs { background-color: $hs}
	&.sw { background-color: $sw}
	&.ps { background-color: $ps}
	&.wl { background-color: $wl}
}